@model Rift.Models.AcoesChamado
@{
    ViewBag.Title = "CriarAcoesChamado";
}

<h1>Criar Ações Chamado</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor( m => m.IdChamado)
    <div class="row">
        <div class="col-md-12">
            <textarea id="Descricao" name="Descricao" class="form-control" required maxlength="300" style="resize: none; height:320px;"></textarea>
        </div>
        
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Status</label>
            <select id="Status" name="Status">
                <option value="Aguardando Cliente">Aguardando Cliente</option>
                <option value="Aguardando Parecer da Rift">Aguardando Parecer da Rift</option>
            </select>
        </div>
    </div><br /><br />
    <div class="row">
        <div class="col-md-5">
            <input type="submit" class="btn btn-success" value="Criar Ação" />
            <a href="@Url.Action("Index","Acoes", new { idChamado= Model.IdChamado, Titulo = ViewBag.Titulo })"><button class="btn btn-warning" title="Voltar" type="button">Voltar</button></a>
        </div>
    </div>
}

